* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 900px;
  width: 90%;
}

.hero-content {
  flex: 1;
  padding: 2rem;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

.logo-section {
  margin-bottom: 2rem;
}

.logo-section img {
  max-width: 100%;
}

.hero-description h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}

.hero-description p {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.email-section {
  display: flex;
  gap: 0.5rem;
}

.email-section input {
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-section .btn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}

.hero-image-section {
  flex: 1;
}

.hero-image-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}